.Card {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;

  &__image-wrapper {
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 4rem;
    height: 4rem;

    border-radius: 50%;
  }

  &__content {
    max-height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}